#star {
  align-self: flex-start;
  background-color: var(--darkblue);
  padding: .75rem;
  border-radius: 50%;
}

#rating-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.rating {
  background-color: var(--darkblue);
  display: flex;
  justify-content:center;
  align-items:center;
  width: 40px;
  height: 38px;
  padding-top: 2px;
  border-radius: 50%;
  color: var(--lightgrey);
  font-size: .85rem;
  font-weight: 700;
  transition: .1s ease-in-out;
  cursor: pointer;
}

.rating:hover {
  background-color: var(--orange);
  color: var(--white);
}

.rating.active {
  background-color: var(--mediumgrey);
  color: var(--white);
}

#submit {
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  padding: 1rem 0;
  border-radius: 1.5rem;
  font-family: 'Overpass', sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: .15rem;
  transition: .1s ease-in-out;
  cursor: pointer;
}

#submit.hover {
  background-color: var(--white);
  color: var(--orange);
}

#submit.active {
  background-color: var(--white);
  color: var(--orange);
}