h1 {
  margin: 1.7rem 0 .8rem;
  color: var(--white);
  font-size: 1.47rem;
  font-weight: 700;
}

p {
  margin: 0;
  color: var(--lightgrey);
  font-size: 13px;
  line-height: 1.5;
}

.attribution { 
  font-family: 'Overpass', sans-serif;
  font-size: 11px; 
  color: var(--white);
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}